<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d7b7ce1508.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/icon/favicon.ico" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Cloud Printer</title>
</head>
<body>
    <nav id="header">
        <center><h1>Cloud Printer</h1></center>
    </nav>
    <div class="printer-container">
        <div class="add-printer">
            <form action="/printerdetails" method="get">
                <button type="submit" class="add-button"><i class="fas fa-plus fa-5x"></i></button>

            </form>
            

        </div>
        <div class="printers-list">

            <% if(printerList.length>0) { %>
                <% for(let i=0; i < printerList.length; i++) { %>
                        <% let ImageSource="./uploads/images/" + printerList[i].Img; %>
                
                    <div class="printer-info" >
                        <img src= "./uploads/images/<%= printerList[i].Img %>"  alt="">
                        <h3><%= printerList[i].Nameofprinter %></h3>
                        <form action="/<%= printerList[i].Nameofprinter %>" method="post" class="formbutton">
                            <button type="submit" class="btn btn-outline-dark"><i class="fas fa-wrench"></i> Configure</button>

                        </form>
                        
                        <form method="post" action="/printer/delete/<%= printerList[i].Nameofprinter %>" class="formbutton">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>

                        </form>
                        

                    </div>
                <% } %>
            <% } %>

        </div>
    </div>
    
</body>
</html>